* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Dosis',sans-serif;
    font-weight: bold;
    
}
@font-face {
    font-family: Dosis;
    src: url('./Fonts/Dosis-VariableFont_wght.ttf');
}
body {
    background-color: #CBAC;
}

/*#region Bootstrap overrides*/
.rounded {
    border-radius: 50%;
    margin: auto;
    width: 179px;
    height: 230px;
}

.navbar {
    padding: 2vh;
    
}

.navbar-collapse {
    font-size: larger;
}


.nav-link, .dropdown-item {
    color: rgba(255, 255, 255, 1);
}

.row {
    text-align: center;
    padding: 100px;
}

.card {
    text-align: center;
    box-shadow: 9px 5px 16px 2px #3F3F3F;
    transition: transform 0.4s ease-in-out;
}


/*#endregion*/

/*#region Animations and transitions*/


.card:hover {
    cursor: pointer;
    transform: scale(1.1) !important;
}


@keyframes rotate {
    0% {
        --gradient-angle:0deg;
    }
    100% {
        --gradient-angle:360deg;
    }
}

/*#endregion*/

/*#region Variables and properties*/
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
:root {
    --clr1: #052b2f;
    --clr2: #073438;
    --clr3: #0E4B50;
    --clr4: #2D8F85;
    --clr5: #637C54;
}
/*#endregion*/

/*#region Media Queries*/


/*#endregion*/