<!-- Inherit from base -->
{% extends 'base.html'%}
{%load static%}

{%block content%}
<section class="container my-4 p-4 section-container text-justify">
    <div class="mt-4 p-3 text-center">
        <h1>Jedlik Ányos</h1>
    </div>
    <div>
        <p>Jedlik Ányos a mai Magyarország területén született, 1800-ban, Szimőn.</p>
        <p>A mai Szlovákia területén fekvő Pozsonyban tanult, majd Bécsben és Prágában
            folytatta tanulmányait.</p>
        <p>Ő volt első olyan ember, aki elektromos motort, forgógépet és fémből álló elektromos generátort tervezett
            és készített. </p>
        <p>Az általa kifejlesztett elektromos motor először 1827-ben működött. Feltalálta a gombfélék összetevőit,
            melyek olyan elektromos áramkörökben használatosak, amelyek a mai napig használatosak az elektronikai
            eszközökben. Korai repülés egyik úttörőjének is számít. </p>
        <p>1865-ben ő készítette el az első, a gőzgépek által hajtott repülőt, amely rövid ideig a levegőben is
            tudott maradni.</p>
        <p>Az 1861-ben kiadott tanulmányaiban Jedlik Ányos először írta le a dinamó hatását, ami lehetővé tette az
            elektromos áram előállítását.</p>
    </div>
</section>
{%endblock%}