<!-- Inherit from base -->
{% extends 'base.html'%}
{%load static%}

{%block content%}
<section class="container my-4 p-4 section-container text-justify">
    <div class="mt-4 p-3 text-center">
        <h1>Puskás Tivadar (1844-1893)</h1>
    </div>
    <div>
        <h2>Élete</h2>
        <p>Puskás Tivadar mérnök, feltaláló(Telefonhírmondó) és Puskás Ferenc hadmérnök bátyja.</p>

        <p>1844-ben született apja elfecsérelte a családi vagyont. Katonás neveltetésben nevelkedett majd később a
            bécsi Theresianumba került. </p>

        <p> Tanulmányai idején meghalt apja majd a kevés pénzből amit örökölt Angliába utazott, hogy ott folytassa
            tanulmányait. </p>

        <p>Később az útja Erdélybe vezetett vissza
            az angol vasúti társaság képviselőjeként.</p>

        <p>875-ben Colorádóban földet vásárolt. Később Párizsban
            Thomas Edison találmányainak terjesztésével foglalkozott.</p>

        <p>Nincs egyértelmű bizonyték, hogy ő találta
            fel a Telefonközpontot. Az egyik legismertebb találmánya a műanyagból készült szódásüveg volt, amit
            1899-ben szabadalmaztatott.</p>

        <p>Nem csak a szódásüveg feltalálója volt, hanem számos más találmánnyal
            is hozzájárult a modern technológia fejlődéséhez.</p>

        <p>Például ő találta ki a villanykapcsolót, a
            villanyórákat, az elektromos autókat, az elektromos motort, az elektromos transzformátort és az
            elektromos körömlakkozót.</p>

    </div>
        <div class="row">
        <a href="{% url 'index'%}" class="col ">
            <button class="btn btn-link text-decoration-none text-dark">
                <p>Vissza a főmenübe</p>
            </button>
        </a>
    </div>
    <div class="row" style="margin-top: -8%;">
        <a href="{% url 'quiz'%}?value=Puskas">
            <button class="btn btn-link text-decoration-none text-dark" value="Puskas" name="Quiz-button">
                <p>Tovább a Kvízre</p>
            </button>
        </a>
    </div>
</section>
{%endblock%}