<!-- Inherit from base -->
{% extends 'base.html'%}
{%load static%}

{%block content%}

<section class="section-container my-4 p-4 text-justify">
    <div class="mt-4 p-3 text-center">
        <h1>Rubik Ernő</h1>
    </div>
    <div>
        <img src="{%static 'Images/Rubik_Erno.jpg'%}" alt="" style="float:right" class="rounded ml-5">
        <p>Rubik Ernő 1944-ben született Budapesten, és Eötvös Loránd Tudományegyetemen
            végzett ahol matematikát és szobrászatot tanult.</p>
        <p>A Rubik-kocka megalkotása előtt Rubik professzor számos más találmányt is fejlesztett ki, például
            mágneses játékokat és mozgó szobrokat.</p>
        <p>Az első Rubik-kocka prototípusa 1974-ben készült el, de csak hat évvel később, 1980-ban került forgalomba
            Magyarországon. </p>
        <p>A Rubik-kocka világszerte hatalmas sikert aratott, és Rubik Ernőt 1983-ban a Nemzetközi Szabadalmi és
            Találmányi Hivatal díjával tüntették ki.</p>
        <p> Ugyan eredetileg a Rubik-kockát eredetileg csak arra tervezte, hogy segítsen neki megérteni a térbeli
            geometria tanítását</p>
        <p>. Végül azonban rájött, hogy a játék érdekes és kihívást jelent, és úgy döntött, hogy szabadalmaztatja.
        </p>
        <p>A Rubik-kocka mellett Rubik Ernő számos más találmányt is kifejlesztett, például a Rubik's Tangle-t és a
            Rubik's Magic-t.</p>
    </div>
        <div class="row">
        <a href="{%url 'index'%}" class="col ">
            <button class="btn btn-link text-decoration-none text-dark rounded">
                <p>Vissza a főmenübe</p>
            </button>
        </a>
    </div>
    <div class="row" style="margin-top: -8%;">
        <a href="{% url 'quiz'%}?value=Rubik">
            <button class="btn btn-link text-decoration-none text-dark rounded" value="Rubik" name="Quiz-button">
                <p>Tovább a Kvízre</p>
            </button>
        </a>
    </div>
</section>
{%endblock%}